@import "../varibales.scss";

.banner_container {
  color: white !important;
  font-size: 2.8vw;
  position: relative;
  padding: 0;
  margin: auto;
  display: block;

  width: 90%;
  max-height: 500px;
  min-height: 250px;
  height: 40vw;
  overflow: hidden;
  margin: 0 auto 30px auto;
  border-radius: 20px;

  /* border-top: solid 2px white; */
  .banner_blur_img {
    background-color: rgba(0, 0, 0, 1);
    z-index: -1;
    display: flex;
    width: 105%;
    margin: auto;
    height: 100%;
    overflow: hidden;
    object-fit: contain;

    .banner_blur_img_cover {
      opacity: 0.7;
      filter: blur(15px);
      width: 100%;
      max-height: 500px;
      min-height: 250px;
      height: 40vw;
      object-fit: cover;
      animation: blured 0.2s ease-in-out;
    }
    .banner_header {
      display: flex;
      flex-direction: column;
      align-items: start;
      position: absolute;
      width: 58%;

      margin: 0 auto 0 auto;
      height: 100%;
      justify-content: center;
      left: 25px;

      h1 {
        font-weight: 500px;
        font-family: $heading-family;
        font-size: 1.3em;
        color: white;
        margin-bottom: 0.09em;
      }

      p {
        font-size: 0.6em;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 0.5em;
      }

      .banner_button {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .banner_read_button {
          display: flex;
          justify-content: center;
          gap: 10px;

          button {
            border-radius: 0;
            border: 0;
            padding: 0.5em 1em;
            font-size: 0.6em;
            color: black;
            margin-bottom: 0.5em;
            min-width: 17px;
          }
          @media screen and (max-width: 660px) {
            button {
              border-radius: 0;
              padding: 0.6em 2em;
              font-size: 0.7em;

              color: black;
            }
          }

          .banner_read_button_read {
            background-color: gold;
          }
          .banner_read_button_chapter {
            background-color: white;
          }
        }

        @media screen and (max-width: 400px) {
          .banner_read_button {
            // flex-direction: column;
            gap: 2px;
            width: 100%;
          }
        }
      }

      @media screen and (max-width: 400px) {
        h1 {
          margin-bottom: 10px;
        }
      }

      .banner_navigate {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 1.1;
        .banner_navigate_icons {
          font-size: 1.8em;
        }
      }
      @media screen and (max-width: 400px) {
        .banner_navigate {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          z-index: 1.1;
          .banner_navigate_icons {
            font-size: 2.1em;
          }
        }
      }
    }
    @media screen and (max-width: 660px) {
      .banner_header {
        display: flex;
        max-width: 50%;
        left: 10px;
      }
    }

    .banner_manga_img {
      position: absolute;
      z-index: 1;
      border: solid 0.6em white;
      height: fit-content;
      right: 9vw;

      transform: rotate(20deg) translateY(-120px);
      animation: scale 0.3s ease-in;
      .banner_manga_img_cover {
        max-width: 300px;
        width: 30vw;
        height: 650px;
        max-height: 700px;
        min-height: 100px;
        height: 100vw;
        object-fit: cover;
      }
      @media screen and (max-width: 660px) {
        .banner_manga_img_cover {
          max-width: 80%;
          min-width: 100px;
          height: auto;
        }
      }
    }

    @media screen and (max-width: 660px) {
      .banner_manga_img {
        display: flex;
        right: 0;
        transform: rotate(0) translateY(0);

        justify-content: center;
        align-items: center;
        border: 0;

        width: 50%;

        min-height: 240px;
        right: 0;
        object-fit: contain;
      }
    }
  }
}
@media screen and (max-width: 1000.9px) {
  .banner_container {
    margin-top: 25px;
  }
}

@media screen and (max-width: 660px) {
  .banner_container {
    width: 100%;
    border-radius: 0;
    margin: 0;
    font-size: 3vw;
  }
}
@media screen and (max-width: 400px) {
  .banner_container {
    font-size: 3.7vw;
  }
}
@keyframes scale {
  0% {
    scale: 1;
    filter: blur(10px);
  }
  25% {
    scale: 1.1;
    filter: blur(10px);
  }
  100% {
    scale: 1;
    filter: blur(0);
  }
}

@keyframes blured {
  0% {
    filter: blur(10px);
  }
  25% {
    filter: blur(50px);
  }
  100% {
    filter: blur(20px);
  }
}

@media screen and (min-width: 1490px) {
  .banner_container {
    font-size: 40px;
  }
}
