.navbar_icons {
  color: #fff;
  font-size: 30px;
}
.navbar_container {
  font-size: 30px;
  .navbarLogo {
    width: 7em;
    height: fit-content;
    margin-top: 0.4em;
    &:hover {
      scale: 1.1;
      transition: 0.3s ease;
    }
  }
  .navbar_links_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 5px 0 2px;
    font-size: 0.6em;
    background-color: #6f42c1;
    position: relative;
    top: 0;
    z-index: 1;

    .navbar_manga {
      width: 100%;
      .left_icons_logo {
        display: flex;
        gap: 10px;
        .samll_logo_img {
          width: 30px;
        }
      }

      li {
        border-radius: 4px;
        border: 2px solid transparent;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;

        border-end-end-radius: 0;
        border-top-right-radius: 0;
        &:hover {
          color: gold;
          cursor: pointer;
        }
      }

      .navbar_menu_slide {
        display: none;
      }
      @media screen and (max-width: 780px) {
        .navbar_menu_slide {
          display: block;
        }
      }

      .navbar_icon_inverted {
        transform: rotate(180deg);
        transition: all 0.5s ease-in-out;
      }

      .navbar_icon_simple {
        transform: rotate(0deg);
        transition: all 0.5s ease-in-out;
      }
      .navbar_manga_lists {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-around;
      }

      @media screen and (max-width: 780px) {
        .navbar_manga_lists {
          display: none;
        }
      }
    }

    .navbar_right {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .navbar_search {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-right: 0.5em;
        input {
          padding: 10px;
          width: 400px;
          font-size: 0.9em;
        }
        @media screen and (max-width: 1000px) {
          input {
            display: none;
          }
        }
      }
      p {
        font-weight: bolder;
        padding: 0;
        margin: 0;
        margin-right: 15px;
      }
      .navbar_glowing {
        color: yellow;
        animation: glowing 2s infinite alternate;
      }
      @media screen and (min-width: 1000.9px) {
        .navbar_none {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 780px) {
    .navbar_links_container {
      padding: 10px;
    }
  }

  @media screen and (min-width: 1000.9px) {
    .navbar_links_container {
      background-color: transparent;
    }
  }

  .navbar_search_input {
    font-size: 0.7em;
    width: 90%;
    height: 40px;
    transform: all;
    padding-left: 30px;
    display: block;
    margin: 0 auto;
    border-top: 0;
    border-end-end-radius: 50px;
    /* border-end-start-radius: 50px; */
    animation: slideInout 0.2s ease-out;
  }
  @media screen and (min-width: 1000px) {
    .navbar_search_input {
      display: none;
    }
  }
  .navbar_mobile {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    font-size: 0.6em;

    height: 100vh;
    list-style: none;
    position: absolute;
    z-index: 2;

    li {
      border-radius: 4px;
      border: 2px solid transparent;
      padding-left: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 16px;
      border-end-end-radius: 0;
      border-top-right-radius: 0;
    }

    .navbar_mobile_manga {
      width: 266px;
      height: 100vh;
      padding-left: 30px;

      .navbar_mobile_manga_lists {
        padding: 0;
        margin-bottom: 40px;
        list-style: none;
      }
    }

    .navbar_mobile_manga_item {
      list-style: none;
      justify-content: space-around;
      padding: 10px;
      padding-left: 0;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 780px) {
    .navbar_mobile {
      display: flex;
    }
  }
  .navbar_mobile_show {
    width: 100vw;

    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }

  .navbar_mobile_hide {
    width: 0;
    transform: translateX(-300px);
    background-color: transparent;
    transition: all 0.2s ease-in-out;
  }
  @keyframes glowing {
    0% {
      color: yellow;
      text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow; /* Adjust the shadow size as needed */
    }
    50% {
      color: gold;
      text-shadow: 0 0 20px gold, 0 0 30px gold, 0 0 40px gold; /* Adjust the shadow size as needed */
    }
    100% {
      color: yellow;
      text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow; /* Adjust the shadow size as needed */
    }
  }

  @keyframes slideInout {
    0% {
      transform: translateY(-50px);
    }

    100% {
      transform: translateY(0);
    }
  }
}
