.manga_card_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-end;
  width: 160px;
  margin: auto;
  font-size: 1rem;
  margin: 0.5em;
  .cover_name_conatiner {
    &:hover {
      color: #9b51e0;
      transition: 0.3s ease-in-out;
      img {
        opacity: 0.8;
        scale: 1.1;
      }
    }
    .mangaCardImageContainer {
      overflow: hidden;

      max-height: 210px;
      img {
        width: 100%;
        z-index: -1;
        transition: 0.3s ease-in-out;
        display: block;
      }
    }

    .manga_name {
      padding-left: 5px;
      margin: 5px 0 5px 0;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      font-size: 0.8em;
      font-weight: 700;
      min-height: 40px;
    }
  }
  .btnChapter {
    width: 100%;
    border-radius: 0;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 500px) {
  .manga_card_container {
    width: 120px;
    font-size: 0.8em;
    .btnChapter {
      font-size: 1.1em;
    }
  }
}

@media screen and (max-width: 400px) {
  .manga_card_container {
    width: 44%;
    font-size: 0.8em;
  }
}

.card_noDispaly {
  display: none;
}
