.home_manga_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.loadColapse {
  width: 70%;
  margin: 10px auto 10px auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0 2px 0;
}
