.home_manga_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.loadColapse {
  width: 70%;
  margin: 10px auto 10px auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0 2px 0;
}

.homeSkeletonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homeSkeleton {
  height: 210px;

  width: 160px;

  margin: 0.5em;
}

@media screen and (max-width: 500px) {
  .homeSkeleton {
    width: 120px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 400px) {
  .manga_card_container {
    width: 44%;
    font-size: 0.8em;
  }
}
