.hone_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.home_manga_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.loadColapse {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 35% 10px 35%;
}
